table {
    width: 100%;
}

.badgeBox {
    padding: 5px;
    display: table-cell;
    ;
}

.filterBox {
    display: inline;
}

.score_and_viewCount {
    display: inline-grid;
    ;
}

.title_and_tags {
    padding-left: 40px;
    display: inline;
}

.tab_el {
    display: flex;
    padding: 20px;
}

.tags {
    padding-top: 10px;
}

.user_Info {
    display: inline-flex;
    padding-top: 35px;
}

.reputation {
    text-align: right;
}

.creation_date {
    text-align: right;
}

.btn-link {
    border: none;
    color: rgb(6, 6, 254);
    background: none;
    text-decoration: none;
}